@import url("./modules/common.css");
@import url("./modules/header.css");

.information {
    padding: 0px 0 50px 0;
}
.information__container {
    display: flex;
    justify-content: space-between;
}
.information__block {
}
.information__title {
    font-size: calc(22px + 12 * ((100vw - 320px) / 1920));
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: calc(5px + 27 * ((100vw - 320px) / 1920));
}
.information__text {
    max-width: 600px;
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 1920));
    font-size: calc(20px + 14 * ((100vw - 320px) / 1920));
    line-height: 140%;
}

.information__image {
    position: relative;
    flex: 1 1 40%;
    padding-bottom: 30%;
}

.information__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.information__internships-btn {
    padding: 20px 72px 20px 72px;
    border-radius: 25px;
    background-color: #ff8000;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease;
}

.information__internships-btn:hover {
    background-color: #732BF5;
}


@media (max-width: 992px) {
    .information__image {
        flex: 1 1 50%;
        margin: 50px 0 0  0;
    } 
}

@media (max-width: 768px) {
    .information__container {
        display: flex;
        flex-direction: column;
    }  

    .information__image {
        flex: 1 1 100%;
        padding-bottom: 70%;
    } 

    .information__image img {
        object-fit: cover;
    }

    .information__internships-btn {
        padding: 20px 48px;
    }
}






