@import url("./modules/common.css");

.main {
    padding: 0;
}

.header {
}
.header__container {
}
.header__link {
}

.current-module__info {
    padding: 30px 0;
}
.current-module__container {
}
.current-module__title {
    font-size: 24px;
    font-weight: 600;
}
.current-module {
}
.module-parts {
   
}
.module-parts__container {
    display: flex;
    gap: 20px;
}
.module-parts__part {
}
.part {
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(226, 231, 248);
}
.part__title {

}