.header {
    padding: 30px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #fff;
  }
  
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header__logo {
    z-index: 4; 
  }

  .header__logo-title {
    letter-spacing: 5px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }
  
  .menu__list li:not(:last-child) {
    margin-right: 2.334em;
  }
  
  .menu__link {
    font-family: 'Caveat', cursive;
    font-weight: 600;
    color: #ff8000;
    line-height: 160%;
    position: relative;
    padding: 15px 0;
    transition: all 0.3s ease;
  }

  .menu__link:hover {
    color: #732BF5;
  }

  @media (max-width: 480px) {
    .header {
        padding: 15px 0px;
  }
}